<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moonymango.snareDemo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:targetSdkVersion="25" />
    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>
	
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:label="@string/app_name"
            android:name="com.moonymango.snareDemo.SnareDemoActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.moonymango.snareDemo.widgets.WidgetDemo" />
        <activity android:name="com.moonymango.snareDemo.text.TextDemo" />
        <activity android:name="com.moonymango.snareDemo.procedural.ProceduralDemo" />
        <activity android:name="com.moonymango.snareDemo.scene.SceneDemo" />
        <activity android:name="com.moonymango.snareDemo.textures.TextureDemo" />
        <activity android:name="com.moonymango.snareDemo.camera.CameraDemo" />
        <activity android:name="com.moonymango.snareDemo.playground.Playground" />
        <activity android:name="com.moonymango.snareDemo.particles.ParticlesDemo" />
        <activity android:name="com.moonymango.snareDemo.touch.SceneTouchDemo" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.moonymango.snareDemo.resolution.ResolutionDemo" />
        <activity android:name="com.moonymango.snareDemo.physics.SimplePhysicsDemo" />
    </application>

</manifest>